<template>
  <div id="app">
    <img src="./assets/logo.png">
    <router-view/>
    <div class="example bd-1px bd-1px-t"></div>
    <br>
    <div class="example bd-1px bd-1px-l"></div>
    <br>
    <div class="example bd-1px bd-1px-r"></div>
    <br>
    <div class="example bd-1px bd-1px-b"></div>
    <br>
    <div class="example bd-1px bd-1px-a">
      asdf
    </div>
  </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
<style lang="scss">
@import '~@/styles/1px.scss';
.example {
    display: block;
    height: 200px;
    width: 200px;
    // background: red
}
</style>
